{% extends "::base.html.twig" %}

 {% block stylesheets %}
     <link href="{{ asset ('css/client.css') }}" rel='stylesheet' type='text/css' />
 {% endblock %}
{% block javascripts %}
{% endblock %}

{% block body %}

    <div class="container-fluid" id="header_container">
        <div class="row">
            <div class="col-lg-2" style="margin-left: -120px">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <i class="material-icons">person</i> Bonjour, {{ app.user.username }}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </div>
            <div class="col-lg-offset-11" style="padding-top: 10px" id="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">input</i></a></div>
        </div>
    </div>
<div class="container-fluid" id="main_container">
    <!-- START TOP NAVBAR-->
    {% include 'navbar.html.twig' %}
    <!-- END TOP NAVBAR -->
    <!-- START SIDEBAR-->
    {% include 'sidebar.html.twig' %}
    <!-- END SIDEBAR-->

    <div class="col-lg-9" style="margin-left: 10px;">
        <div class="row">
            <h3>PROFIL CLIENT</h3><hr style="border: 1px solid darkgray;">
        </div>
        <div class="row" id="head_row">
            <h5>INTERFACE DE VISUALISATION D'UN CLIENT</h5>
        </div>
    <div class="row">
        <div class=" col-lg-5"><h1>{{ client.denomination|upper }}</h1></div>

        <div class="col-lg-offset-4 col-lg-3" id="edit">
            <a href="{{ path('ma_lrm_client_edit', { 'id': client.id }) }}" ><i class="material-icons" style="margin-left: 40px">mode_edit</i></a>
        </div>
    </div>


    <div class="row">
        <table class="table table-striped" id="show_client">
            <tbody>
            <tr>
                <th>Denomination</th>
                <td>{{ client.denomination }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ client.villeCodePostal }} - {{ client.ville }}</td>
            </tr>
            <tr>
                <th>Contact n°1</th>
                <td>{{ client.civilite }} {{ client.nomContact }} {{ client.prenomContact }} - {{ client.fonctionContact }}</td>
            </tr>
            <tr>
                <th>Coordonnées</th>
                <td>{{ client.telephone }} - {{ client.email }}</td>
            </tr>
            {% if client.nomContact2 or client.prenomContact2 is not empty %}
                <tr>
                    <th>Contact n°2</th>
                    <td>{{ client.civilite2 }} {{ client.nomContact2 }} {{ client.prenomContact2 }} - {{ client.fonctionContact2 }}</td>
                </tr>
                <tr>
                    <th>Coordonnées</th>
                    <td>{{ client.telephone2 }} - {{ client.email2 }}</td>
                </tr>
            {% endif %}
            {% if client.nomContact3 or client.prenomContact3 is not empty %}
                <tr>
                    <th>Contact n°3</th>
                    <td>{{ client.civilite3 }} {{ client.nomContact3 }} {{ client.prenomContact3 }} - {{ client.fonctionContact3 }}</td>
                </tr>
                <tr>
                    <th>Coordonnées</th>
                    <td>{{ client.telephone3 }} - {{ client.email3 }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Commentaires</th>
                <td>{{ client.commentaire }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
       <div class="col-lg-offset-10 col-lg-2">
           {{ form_start(delete_form) }}
           <button id="delete_button" type="submit" class="btn  btn-default" name="delete_client" data-dismiss="modal" onclick="return confirm('Souhaitez-vous confirmer la suppression de ce client et de ses offres?');"><i class="material-icons">delete</i></button>
           {{ form_end(delete_form) }}
       </div>
    </div>


{% endblock %}