{% extends "::base.html.twig" %}

 {% block stylesheets %}
     <link href="{{ asset ('css/client.css') }}" rel='stylesheet' type='text/css' />
 {% endblock %}
{% block javascripts %}
{% endblock %}

{% block body %}

    <div class="container-fluid" id="header_container">
        <div class="row">
            <div class="col-lg-2" style="margin-left: -120px">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <i class="material-icons">person</i> Bonjour, {{ app.user.username }}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </div>
            <div class="col-lg-offset-11" style="padding-top: 10px" id="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">input</i></a></div>
        </div>
    </div>
    <div class="container-fluid" id="main_container">
    <!-- START TOP NAVBAR-->
    {% include 'navbar.html.twig' %}
    <!-- END TOP NAVBAR -->
    <!-- START SIDEBAR-->
    {% include 'sidebar.html.twig' %}
    <!-- END SIDEBAR-->

    <div class="col-lg-9" style="margin-left: 10px;">
    <div class="row">
        <h3>RESUME OFFRE</h3><hr style="border: 1px solid darkgray;">
    </div>
    <div class="row" id="head_row">
        <h5>INTERFACE DE VISUALISATION D'UNE OFFRE:</h5>
    </div>
    <div class="row">
        <div class=" col-lg-5"><h1>{{ emploi.intitule|upper }}</h1></div>

        <div class="col-lg-offset-4 col-lg-3" id="edit">
            <a href="{{ path('ma_lrm_emploi_edit', { 'id': emploi.id }) }}" ><i class="material-icons" style="margin-left: 40px">mode_edit</i></a>
        </div>
    </div>


    <div class="row">
        <table class="table table-striped" id="show_client">
            <tbody>
            <tr>
                <th>Entreprise</th>
                <td>{{ emploi.client.denomination }}</td>
            </tr>
            <tr>
                <th>Intitulé du poste</th>
                <td>{{ emploi.intitule }}</td>
            </tr>
            <tr>
                <th>Type de contrat</th>
                <td>{{ emploi.contrat }}</td>
            </tr>
            <tr>
                <th>Lieu d'exercice</th>
                <td>{{ emploi.villeCodePostal }} - {{ emploi.villeActivite}}</td>
            </tr>
            <tr>
                <th>Site de parution</th>
                <td>{{ siteParution }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ emploi.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {#<div class="row">#}
    {#<div class="col-lg-2">Commentaires</div>#}
    {#<div class="row">#}
    {#<div class="col-lg-4">{{ emploi.commentaire }}</div>#}
    {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-lg-offset-10 col-lg-2">
            {{ form_start(delete_form) }}
            <button id="delete_button" type="submit" class="btn  btn-default" name="delete_emploi" data-dismiss="modal" onclick="return confirm('Souhaitez-vous vraiment supprimer cette offre d\'emploi ?');"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>


{% endblock %}