<link href="{{ asset ('css/index.css') }}" rel='stylesheet' type='text/css' />

{#<div class="container-fluid">
    <div class="row">
        <div class='col-lg-3'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>#}

<div class="col-lg-2" style="border: 1px solid black; height: 100%; margin-bottom: 10px">
    {#<h5 style="float: right; margin-right: 55px;">PREVOIR UN EVENEMENT</h5>
    <!-- BEGIN FORM-->
    {{ form_start(form, {'class': 'horizontal-form'}) }}
    <div class="row" style="padding: 5px">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Titre:</label>
                {{ form_errors(form.title)}}
                {{ form_widget(form.title) }}
            </div>
        </div>
    </div>
    <div class="row" style="padding: 5px">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Début:</label>
                {{ form_errors(form.startDate)}}
                {{ form_widget(form.startDate) }}
            </div>
        </div>
    </div>
    <div class="row" style="padding: 5px">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Fin:</label>
                {{ form_errors(form.endDate)}}
                {{ form_widget(form.endDate) }}
            </div>
        </div>
    </div>#}



   {# <h5>PREVOIR UN ENTRETIEN</h5>
    <!-- BEGIN FORM-->
    {{ form_start(form, {'class': 'horizontal-form'}) }}
    <div class="row" >
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Titre:</label>
                {{ form_errors(form.title)}}
                {{ form_widget(form.title) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Début:</label>
                {{ form_errors(form.startDate)}}
                {{ form_widget(form.startDate) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Fin:</label>
                {{ form_errors(form.endDate)}}
                {{ form_widget(form.endDate) }}
            </div>
        </div>
    </div>

    <div class="row" style="padding: 5px">
        <div class="col-lg-12">
            <button type="submit" style="width: 100%" class="btn  btn-default"><i class="fa fa-check" style="width: 100%"></i>Enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}
    <!-- END FORM-->#}

    <div class="row" style="margin-top: 550px; margin-left: 5px">
        <i class="material-icons">keyboard_tab</i><h5 style="float: right; margin-right: 55px;">ACCES RAPIDE</h5>
    </div>
    <div class="row" style="padding: 5px">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="{{ path('ma_lrm_client_index') }}" style="background-color: #e7e7e7">LISTE DES CLIENTS</a>
        </div>
    </div>
    <div class="row" style="padding: 5px">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="{{ path('ma_lrm_emploi_index') }}" style="background-color: #e7e7e7">LISTE DES OFFRES</a>
        </div>
    </div>
    <div class="row" style="padding: 5px;">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="{{ path('ma_lrm_candidat_index') }}" style="background-color: #e7e7e7">LISTE DES CANDIDATS</a>
        </div>
    </div>

</div>





