{% extends "::base.html.twig" %}

 {% block stylesheets %}
     <link href="{{ asset ('css/client.css') }}" rel='stylesheet' type='text/css' />
 {% endblock %}
{% block javascripts %}
{% endblock %}

{% block body %}

    <div class="container-fluid" id="header_container">
        <div class="row">
            <div class="col-lg-2" style="margin-left: -120px">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <i class="material-icons">person</i> Bonjour, {{ app.user.username }}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </div>
            <div class="col-lg-offset-11" style="padding-top: 10px" id="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">input</i></a></div>
        </div>
    </div>
    <div class="container-fluid" id="main_container">
    <!-- START TOP NAVBAR-->
    {% include 'navbar.html.twig' %}
    <!-- END TOP NAVBAR -->
    <!-- START SIDEBAR-->
    {% include 'sidebar.html.twig' %}
    <!-- END SIDEBAR-->

    <div class="col-lg-9" style="margin-left: 10px;">
    <div class="row">
        <h3>PROFIL CANDIDAT RECRUTE</h3><hr style="border: 1px solid darkgray;">
    </div>
    <div class="row" id="head_row">
        <h5>INTERFACE DE VISUALISATION D'UN CANDIDAT</h5>
    </div>
    <div class="row">
        <div class=" col-lg-5">
            <a href="{{ path ('ma_lrm_candidat_edit', { 'id': candidat.id }) }}"><h1>{{ candidat.nom|upper }} {{ candidat.prenom }}</h1></a>
        </div>

        <div class="col-lg-offset-4 col-lg-3" id="edit">
            <a href="{{ path ('ma_lrm_gestion_edit', { 'id': arrCandidat[candidat.id]}) }}"><i class="material-icons" style="margin-left: 40px">mode_edit</i></a><a href="{{ path ('ma_lrm_gestion_delete', { 'id': arrCandidat[candidat.id]}) }}" onclick="return confirm('Souhaitez-vous confirmer la suppression de ce candidat pour ce poste ?')";><i class="material-icons" style="margin-left: 10px">delete</i></a>
        </div>


    </div>

    <div class="row">
        <table class="table table-striped" id="show_client">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                {% if candidat.age is not empty %}
                    <td>{{ candidat.age }} ans</td>
                {% else %}
                    <td> -- </td>
                {% endif %}
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ candidat.adresse }} - {{ candidat.villeCodePostal }} - {{ candidat.ville }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ candidat.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td><a href="{{ asset('uploads/cvtheque/' ~ candidat.cvCandidat) }}">{{ candidat.cvCandidat }}</a></td>
                {#<td><iframe src ="{{ asset('uploads/cvtheque/' ~ candidat.cvCandidat) }}">{{ candidat.cvCandidat }}</iframe></td>#}
            </tr>
            {% if positif == true %}
                <tr>
                    <th>Nbre jours depuis l'embauche</th>
                    {% if differenceJour == 1 %}
                        <td>{{ differenceJour }} jour</td>
                        {% else %}
                            <td>{{ differenceJour }} jours</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <th> Nbre de jours avant l'embauche</th>
                    {% if differenceJour == -1 or differenceJour == 0 %}
                        <td>{{ differenceJour }} jour</td>
                    {% else %}
                        <td>{{ differenceJour }} jours</td>
                    {% endif %}
                    {% endif %}
                </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ candidat.commentaire }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-offset-11">
            {% for gestion in gestions %}
                {% if gestion.candidat.id == candidat.id %}
                    <a href="{{ path('ma_lrm_gestion_resume', { 'id': gestion.emploi.id }) }}"><i class="material-icons" id="previous">skip_previous</i></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}